/* body{
    background-color:#FFDAB9;
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem;
} */

/* p{
    font-family: 'Times New Roman', Times, serif;
} */

/* h1, h2, h3, h4 {
    color:blue;
    font-family: 'Times New Roman', Times, serif;
} */
li.header{
    list-style-type: none;
    margin-left: -80px;
    color: blue;
    font-size: 19px;
}