body{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    
    /* this makes the java object go to the middle */
    min-height: 100vh;
    margin: 0;
}

/* .cheerpjApplet{
    background-color: red;
    z-index: 2;
    display: flex;
    width: 800px;
    height: 600px;
    background-size: 100%;
    background-color: aquamarine;
    padding: 1px;
    
} */
 /* element.style {
    background-color: violet;
    height: 800px;
    width: 600px;
} */


/* .cheerpjLoading:before {
    background-image: url("http://localhost/main/brand/phet/images/logo-on-white.png");
    background-color: aqua;
  } */

/* ------------------------------------------ mobile CSS---------------------------------------------------------- */
@media all and (min-width:960px) and (max-width: 1024px) {
    body{
        background-color: blueviolet;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
}
  
@media all and (min-width:801px) and (max-width: 959px) {
    body{
        background-color: black;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
    }
}
  
@media all and (min-width:769px) and (max-width: 800px) {
    body{
        background-color: green;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
    }
}
  
@media all and (min-width:569px) and (max-width: 768px) {
    body{
        background-color: red;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
        
    }
}
  
/* @media all and (min-width:481px) and (max-width: 568px) {
    body{
        background-color:red;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
    }
} */
  
@media all and (min-width:321px) and (max-width: 480px) {
    body{
        background-color: green;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
        width: fit-content;
        height: fit-content;
    }
}
  
@media all and (min-width:0px) and (max-width: 320px) {
    body{
        background-color: aquamarine;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        margin: 0;
        width: fit-content;
        height: fit-content;
    }
}