A:link {
	text-decoration: none;
	}
A:visited {
	text-decoration: none;
	}
A:hover {
	text-decoration: underline;
	}

BODY {
   background-color: #FFCC99; 
   font-family:Arial,Helvetica;
   padding: 8px 8px 0em 8px; 
   border: 0em;
  }

.title {
   color:blue;
   text-align: center; 
   font-size: 14pt;
   font-weight: bold;
   text-transform: capitalize;
  }

.subtitle {
   text-align: center;
   color: black;
   font-weight: bold;
   text-transform: capitalize;
  }

.sectionheading {
   text-align: left;
   color: black;
   font-weight: bold;
   text-transform: capitalize;
  }

UL {
   list-style-type: disc;
  }

.equation {
   text-align: center;
  }

.normal {
   color: black;
   font-size: 12pt;
   font-family: Arial, Helvetica;
  }
/*hint definition*/

