
/* body{
  margin: 0;
} */
/* .container{
  position: relative;
  overflow: hidden;
  padding-top: 56.23%;
} */

/* .container, {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
} */
