body {
    background-color: #333;
}

.main {
    background-color: white;
    border-radius: 1em;
    padding:1em;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 5px;
    
}

/* ------------------------------------------------ Page 1 ----------------------------------------------------- */




/* ------------------------------------------------ Page 2 ----------------------------------------------------- */




/* ------------------------------------------------ Page 3 ----------------------------------------------------- */




/* ------------------------------------------------ Page 4 ----------------------------------------------------- */



